html {
    font-size: medium;
}
body {
    background-color: black;
    color: antiquewhite;
    margin: 0px;
}
section {
    display: flex;
}
#nocode {
    display: block;
    width: 60vw;
    height: 100vh;
}
#screen {
    background-color: black;
    width: 100%;
    height: 60%;
    margin: 0px;
    display: block;
}
#menu {
    margin: 0px;
    border-top: dotted;
    border-width: thin;
    border-color: antiquewhite;
}
#code {
    width: 40vw;
    height: 100vh;
    display: block;
}
#type{
    display: flex;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: orangered;
}
.list{
    height: 20vh; 
    width: 60vw-40px;
    border-radius: 10px;
    border: dotted;
    border-width: thin;
    border-color: antiquewhite;
    margin: 20px;
    background-color: black;
    text-align: left;
}
#charactertab {
    display: block;
}
#looptab {
    display: none;
}
#scripttab {
    display: none;
}
#charactermenu {
    display: block;
}
#loopmenu {
    display: none;
}
#scriptmenu {
    display: none;
}
button {
    background-color: black;
    color: antiquewhite;
}
button:hover {
    background-color: orangered;
    cursor: pointer;
}
#popup{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    align-items: center;
    top: 10vh;
    right: 20vw;
    left: 20vw;
    bottom: 10vh;
}
#stat {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: small;
}
#home {
    width: 100vw;
    align-content: center;
    text-align: center;
}
#logo {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
}
#start {
    background-color: black;
    color: #d11003;
    padding: 10px 25px;
    border-radius: 50px;
    border: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 
#start:hover, #start:active {
    background-color: #600001;
}
a {
    text-decoration: none;
    color: #d11003;
}
a:hover {
    text-decoration: underline;
}
.tile {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    color: #d11003;
}
.tile:hover {
    cursor: pointer;
    border-bottom: dotted;
    border-bottom-width: thin;
    border-color: #d11003;
}
#templates {
    display: none;
    position: fixed;
    background-color: #d1100033;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 8vw;
    padding-top: 4vw;
    text-align: center;
}
.td {
    color: antiquewhite;
    margin-top: 0vh;
    margin-bottom: 5vh;
    height: 60vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 40vw;
    background-color: black;
    border-radius: 10px;
}